$base-nav-bg-color: #0e0e0e;
$base-nav-button-bg-color: #181818;
$base-nav-button-hover-bg-color: #333333;

.navbar-bg {
    background-color: $base-nav-bg-color;
}

.navIconButton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: $base-nav-button-bg-color;

    &:hover {
        background-color: $base-nav-button-hover-bg-color;
    }
}

.nav-item:hover {
    background-color: $base-nav-button-hover-bg-color;
}