<nav class="navbar position-sticky w-100 top-0 navbar-expand-md navbar-bg">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">
      <img ngSrc="derp_sticker.png" width="40" height="40" class="" priority>
    </a>

    <button class="navIconButton d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list text-white"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" routerLink="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>