<!---- MAIN NAV BAR ---->
<nav class="navbar">
  <img ngSrc="derp_sticker.png" width="40" height="40" class="navbarImageNav" priority>
  <div (click)="showMobileNavItems()" class="navbarIconContainer">
    <i class="bi bi-list navbarIcon"></i>
  </div>
</nav>

<!---- MOBILE SIDE NAV DRAWER ---->
<div [@openClose]="isShowingMobileNavContainer ? 'open' : 'closed'" class="mobileNavContainer d-flex flex-column">
  <div class="d-flex justify-content-end p-2">
    <span class="position-absolute navTitleText align-self-center">Navigation</span>
    <div (click)="showMobileNavItems()" class="navbarIconContainer">
      <i class="bi bi-arrow-left navbarIcon"></i>
    </div>
  </div>
 
  <hr class="border m-0">
  
  <nav class="nav flex-column text-center align-items-center">
    <a class="p-2 w-100 text-decoration-none page-nav-link" href="#">About me</a>
    <a class="p-2 w-100 text-decoration-none page-nav-link" href="#">Projects</a>
  </nav>
</div>